<div [class.dark-theme]="isDarkTheme" class="editor-container">
    <mat-card class="editor-card">
        <mat-card-header>
            <mat-icon color="primary">code</mat-icon>
            <mat-card-title>JSON Editor</mat-card-title>
            <mat-card-subtitle>Beautify, minify, and validate your JSON data</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="p-1">
            <div class="editor-layout">
                <!-- Toolbar Component -->
                <app-json-toolbar
                        (convertToCsv)="convertToCsv()"
                        (convertToXml)="convertToXml()"
                        (copy)="copyToClipboard()"
                        (download)="downloadOutput()"
                        (downloadText)="downloadText()"
                        (generateSchema)="generateJsonSchema()"
                        (lint)="lintJson()"
                        (share)="shareJson()"
                        (toggleFormattingOptions)="showFormattingOptions = !showFormattingOptions"
                        (toggleJsonCompare)="toggleJsonCompare()"
                        (toggleJsonPathQuery)="toggleJsonPathQuery()"
                        (toggleJsonPaths)="toggleJsonPaths()"
                        (toggleJsonVisualize)="toggleJsonVisualize()"
                        (toggleKeyboardShortcuts)="toggleKeyboardShortcuts()"
                        (toggleOutputFormat)="toggleOutputFormat()"
                        (toggleSchemaEditor)="toggleSchemaEditor()"
                        (toggleSearchReplace)="toggleSearchReplace()"
                        (toggleTheme)="toggleTheme()"
                        (toggleTreeView)="toggleTreeView()"
                        [isValidJson]="isValidJson">
                </app-json-toolbar>

                <!-- Dialogs Component -->
                <app-json-dialogs
                        (applyFormatting)="applyFormatting()"
                        (compareJson)="compareJson()"
                        (executeJsonPathQuery)="executeJsonPathQuery()"

                        (toggleFormattingOptions)="showFormattingOptions = !showFormattingOptions"
                        (toggleJsonCompare)="toggleJsonCompare()"
                        (toggleJsonPathQuery)="toggleJsonPathQuery()"
                        (toggleJsonVisualize)="toggleJsonVisualize()"
                        (toggleKeyboardShortcuts)="toggleKeyboardShortcuts()"

                        (toggleSchemaEditor)="showSchemaEditor = !showSchemaEditor"
                        (validateJsonSchema)="validateJsonSchema()"
                        [compareJsonInput]="compareJsonInput"
                        [indentChar]="indentChar"
                        [indentSize]="indentSize"

                        [jsonData]="jsonTreeData"
                        [jsonDiffResult]="jsonDiffResult"
                        [jsonPathQueryResult]="jsonPathQueryResult"
                        [jsonPathQuery]="jsonPathQuery"
                        [keyboardShortcuts]="keyboardShortcuts"
                        [schemaInput]="schemaInput"

                        [schemaValidationResult]="schemaValidationResult"
                        [showFormattingOptions]="showFormattingOptions"
                        [showJsonCompare]="showJsonCompare"
                        [showJsonPathQueryDialog]="showJsonPathQueryDialog"
                        [showJsonVisualize]="showJsonVisualize"

                        [showKeyboardShortcuts]="showKeyboardShortcuts"
                        [showSchemaEditor]="showSchemaEditor">
                </app-json-dialogs>


                <div [class.input-maximized]="isInputMaximized" [class.output-maximized]="isOutputMaximized"
                     class="editor-columns">
                    <!-- Input Editor Component -->
                    <app-json-input-editor
                            (jsonInputChange)="onJsonInputChange($event)"
                            (toggleMaximize)="toggleInputMaximize()"
                            (beautify)="beautifyJson()"
                            (minify)="minifyJson()"
                            (clear)="clearEditor()"
                            (import)="importFile($event)"
                            [errorMessage]="errorMessage"
                            [isDarkTheme]="isDarkTheme"
                            [isMaximized]="isInputMaximized"
                            [isValidJson]="isValidJson"
                            [showInputSearchBar]="showInputSearchBar">
                    </app-json-input-editor>

                    <!-- Output Editor Component -->
                    <app-json-output-editor
                            (toggleMaximize)="toggleOutputMaximize()"
                            (toggleNode)="toggleNode($event)"
                            (toggleOutputFormat)="toggleOutputFormat()"
                            (toggleViewMode)="handleViewModeChange($event)"
                            (treeSearch)="searchInTree($event)"
                            (copy)="copyToClipboard()"
                            (download)="downloadOutput()"
                            (downloadText)="downloadText()"
                            (convertToCsv)="convertToCsv()"
                            (convertToXml)="convertToXml()"
                            (share)="shareJson()"
                            [expandedNodes]="expandedNodes"
                            [isDarkTheme]="isDarkTheme"
                            [isMaximized]="isOutputMaximized"
                            [isValidJson]="isValidJson"
                            [jsonOutput]="jsonOutput"
                            [jsonTreeData]="jsonTreeData"
                            [selectedOutputFormat]="selectedOutputFormat"
                            [selectedViewMode]="selectedViewMode"
                            [showOutputSearchBar]="showOutputSearchBar"
                            [showTreeSearchBar]="showTreeSearchBar"
                            [showTreeView]="showTreeView"
                            [treeSearchHighlighted]="treeSearchHighlighted"
                            [treeSearchResults]="treeSearchResults"
                            [yamlOutput]="yamlOutput">
                    </app-json-output-editor>
                </div>
                <!-- Status Component -->
                <app-json-status
                        [isValidJson]="isValidJson"
                        [jsonSize]="getJsonSize()"
                        [selectedOutputFormat]="selectedOutputFormat"
                        [showTreeView]="showTreeView">
                </app-json-status>


                <!-- JSON Paths Component -->
                <app-json-paths
                        (toggleJsonPaths)="toggleJsonPaths()"
                        [isValidJson]="isValidJson"
                        [jsonPaths]="jsonPaths"
                        [showJsonPaths]="showJsonPaths">
                </app-json-paths>

                <!-- Search & Replace Component -->
                <app-json-search-replace
                        (textChanged)="onSearchReplaceTextChanged($event)"
                        *ngIf="showSearchReplace"
                        [text]="searchReplaceText">
                </app-json-search-replace>

                <!-- Version History Component -->
                <app-version-history
                        (versionSelected)="loadVersionContent($event)">
                </app-version-history>

            </div>
        </mat-card-content>
    </mat-card>
</div>
