<div class="editor-container" [class.dark-theme]="isDarkTheme">
  <mat-card class="editor-card">
    <mat-card-header>
      <mat-icon color="primary">code</mat-icon>
      <mat-card-title>JSON Editor</mat-card-title>
      <mat-card-subtitle>Beautify, minify, and validate your JSON data</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="p-1">
      <div class="editor-layout">
        <!-- Toolbar Component -->
        <app-json-toolbar 
          [isValidJson]="isValidJson"
          (beautify)="beautifyJson()"
          (minify)="minifyJson()"
          (lint)="lintJson()"
          (clear)="clearEditor()"
          (import)="importFile($event)"
          (copy)="copyToClipboard()"
          (download)="downloadOutput()"
          (share)="shareJson()"
          (convertToCsv)="convertToCsv()"
          (convertToXml)="convertToXml()"
          (toggleTreeView)="toggleTreeView()"
          (toggleOutputFormat)="toggleOutputFormat()"
          (toggleJsonPaths)="toggleJsonPaths()"
          (toggleSchemaEditor)="toggleSchemaEditor()"
          (generateSchema)="generateJsonSchema()"
          (toggleJsonPathQuery)="toggleJsonPathQuery()"
          (toggleJsonCompare)="toggleJsonCompare()"
          (toggleJsonVisualize)="toggleJsonVisualize()"
          (toggleTheme)="toggleTheme()"
          (toggleSearchReplace)="toggleSearchReplace()"
          (toggleFormattingOptions)="showFormattingOptions = !showFormattingOptions"
          (toggleKeyboardShortcuts)="toggleKeyboardShortcuts()">
        </app-json-toolbar>

        <!-- Dialogs Component -->
        <app-json-dialogs
          [showKeyboardShortcuts]="showKeyboardShortcuts"
          [keyboardShortcuts]="keyboardShortcuts"
          (toggleKeyboardShortcuts)="toggleKeyboardShortcuts()"
          
          [showFormattingOptions]="showFormattingOptions"
          [indentSize]="indentSize"
          [indentChar]="indentChar"
          (toggleFormattingOptions)="showFormattingOptions = !showFormattingOptions"
          (applyFormatting)="applyFormatting()"
          
          [showSchemaEditor]="showSchemaEditor"
          [schemaInput]="schemaInput"
          [schemaValidationResult]="schemaValidationResult"
          (toggleSchemaEditor)="showSchemaEditor = !showSchemaEditor"
          (validateJsonSchema)="validateJsonSchema()"
          
          [showJsonPathQueryDialog]="showJsonPathQueryDialog"
          [jsonPathQuery]="jsonPathQuery"
          [jsonPathQueryResult]="jsonPathQueryResult"
          (toggleJsonPathQuery)="toggleJsonPathQuery()"
          (executeJsonPathQuery)="executeJsonPathQuery()"
          
          [showJsonCompare]="showJsonCompare"
          [compareJsonInput]="compareJsonInput"
          [jsonDiffResult]="jsonDiffResult"
          (toggleJsonCompare)="toggleJsonCompare()"
          (compareJson)="compareJson()"
          
          [showJsonVisualize]="showJsonVisualize"
          (toggleJsonVisualize)="toggleJsonVisualize()">
        </app-json-dialogs>



        <div class="editor-columns" [class.input-maximized]="isInputMaximized" [class.output-maximized]="isOutputMaximized">
          <!-- Input Editor Component -->
          <app-json-input-editor
            [isDarkTheme]="isDarkTheme"
            [isMaximized]="isInputMaximized"
            [showInputSearchBar]="showInputSearchBar"
            [isValidJson]="isValidJson"
            [errorMessage]="errorMessage"
            (jsonInputChange)="onJsonInputChange($event)"
            (toggleMaximize)="toggleInputMaximize()">
          </app-json-input-editor>

          <!-- Output Editor Component -->
          <app-json-output-editor
            [isDarkTheme]="isDarkTheme"
            [isMaximized]="isOutputMaximized"
            [showOutputSearchBar]="showOutputSearchBar"
            [isValidJson]="isValidJson"
            [jsonOutput]="jsonOutput"
            [yamlOutput]="yamlOutput"
            [showTreeView]="showTreeView"
            [jsonTreeData]="jsonTreeData"
            [selectedOutputFormat]="selectedOutputFormat"
            [selectedViewMode]="selectedViewMode"
            [expandedNodes]="expandedNodes"
            [treeSearchResults]="treeSearchResults"
            [showTreeSearchBar]="showTreeSearchBar"
            [treeSearchHighlighted]="treeSearchHighlighted"
            (toggleMaximize)="toggleOutputMaximize()"
            (toggleOutputFormat)="toggleOutputFormat()"
            (toggleViewMode)="handleViewModeChange($event)"
            (toggleNode)="toggleNode($event)"
            (treeSearch)="searchInTree($event)">
          </app-json-output-editor>
        </div>
        <!-- Status Component -->
        <app-json-status
          [isValidJson]="isValidJson"
          [jsonSize]="getJsonSize()"
          [showTreeView]="showTreeView"
          [selectedOutputFormat]="selectedOutputFormat">
        </app-json-status>


        <!-- JSON Paths Component -->
        <app-json-paths
          [showJsonPaths]="showJsonPaths"
          [isValidJson]="isValidJson"
          [jsonPaths]="jsonPaths"
          (toggleJsonPaths)="toggleJsonPaths()">
        </app-json-paths>

        <!-- Search & Replace Component -->
        <app-search-replace
          *ngIf="showSearchReplace"
          [text]="searchReplaceText"
          (textChanged)="onSearchReplaceTextChanged($event)">
        </app-search-replace>

      </div>
    </mat-card-content>
  </mat-card>
</div>
