<div *ngIf="isValidJson" class="status-section">
    <div class="status-item success">
        <mat-icon>check_circle</mat-icon>
        <span>JSON is valid</span>
    </div>
    <div class="status-item">
        <mat-icon>data_object</mat-icon>
        <span>{{ jsonSize }} characters</span>
    </div>
    <div *ngIf="showTreeView" class="status-item">
        <mat-icon>account_tree</mat-icon>
        <span>Tree View</span>
    </div>
    <div *ngIf="selectedOutputFormat === 'yaml'" class="status-item">
        <mat-icon>description</mat-icon>
        <span>YAML Mode</span>
    </div>
</div>