<div [class.maximized]="isMaximized" class="editor-section">
    <h3>
        <mat-icon>input</mat-icon>
        <span>Input JSON</span>
        <div class="spacer"></div>
        <button (click)="toggleInputMaximize()" [matTooltip]="isMaximized ? 'Minimize' : 'Maximize'" class="maximize-btn"
                mat-icon-button>
            <mat-icon>{{ isMaximized ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
        </button>
    </h3>
    <div class="editor-wrapper">
        <div #editor class="ace-editor"></div>
        <div *ngIf="!isValidJson" class="error-message">
            <mat-icon color="warn">error_outline</mat-icon>
            <span>{{ errorMessage }}</span>
        </div>

        <!-- Search Bar -->
        <div *ngIf="showInputSearchBar" class="search-bar input-search-field">
            <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input #searchInput (keyup.enter)="searchInJson(searchInput.value)" matInput>
                <button (click)="searchInJson(searchInput.value)" mat-icon-button matSuffix>
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
            <div class="search-actions">
                <button (click)="findPrevious()" mat-icon-button matTooltip="Previous">
                    <mat-icon>keyboard_arrow_up</mat-icon>
                </button>
                <button (click)="findNext()" mat-icon-button matTooltip="Next">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <button (click)="clearSearch()" mat-icon-button matTooltip="Clear">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>