<div class="toolbar-container">
    <div class="toolbar-section">
        <h3 class="toolbar-title">Actions</h3>
        <div class="toolbar-buttons">
            <button [matMenuTriggerFor]="actionsMenu" class="action-button" color="primary"
                    mat-raised-button matTooltip="JSON Actions">
                <mat-icon>format_align_left</mat-icon>
                Actions
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #actionsMenu="matMenu">
                <button (click)="lint.emit()" [disabled]="!isValidJson" mat-menu-item>
                    <mat-icon>build</mat-icon>
                    <span>Lint & Fix</span>
                </button>
            </mat-menu>
        </div>
    </div>



    <div class="toolbar-section">
        <h3 class="toolbar-title">Advanced</h3>
        <div class="toolbar-buttons">
            <button [matMenuTriggerFor]="advancedMenu" class="action-button" color="primary"
                    mat-raised-button matTooltip="Advanced Features">
                <mat-icon>schema</mat-icon>
                Advanced
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #advancedMenu="matMenu">
                <button (click)="generateSchema.emit()" [disabled]="!isValidJson" mat-menu-item>
                    <mat-icon>schema</mat-icon>
                    <span>Generate Schema</span>
                </button>
                <button (click)="toggleJsonPathQuery.emit()" [disabled]="!isValidJson" mat-menu-item>
                    <mat-icon>search</mat-icon>
                    <span>JSONPath Query</span>
                </button>
                <button (click)="toggleJsonCompare.emit()" [disabled]="!isValidJson" mat-menu-item>
                    <mat-icon>compare</mat-icon>
                    <span>Compare</span>
                </button>
                <button (click)="toggleJsonVisualize.emit()" [disabled]="!isValidJson" mat-menu-item>
                    <mat-icon>bar_chart</mat-icon>
                    <span>Visualize</span>
                </button>
            </mat-menu>
        </div>
    </div>

    <div class="toolbar-section">
        <h3 class="toolbar-title">Settings</h3>
        <div class="toolbar-buttons">
            <button [matMenuTriggerFor]="settingsMenu" class="action-button" color="primary"
                    mat-raised-button matTooltip="Settings and Options">
                <mat-icon>settings</mat-icon>
                Settings
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #settingsMenu="matMenu">
                <button (click)="toggleTheme.emit()" mat-menu-item>
                    <mat-icon>brightness_medium</mat-icon>
                    <span>Theme</span>
                </button>
                <button (click)="toggleFormattingOptions.emit()" mat-menu-item>
                    <mat-icon>settings</mat-icon>
                    <span>Options</span>
                </button>
                <button (click)="toggleKeyboardShortcuts.emit()" mat-menu-item>
                    <mat-icon>keyboard</mat-icon>
                    <span>Shortcuts</span>
                </button>
                <button (click)="toggleSearchReplace.emit()" mat-menu-item>
                    <mat-icon>find_replace</mat-icon>
                    <span>Search & Replace</span>
                </button>
            </mat-menu>
        </div>
    </div>
</div>
