<div [class.dark-theme]="isDarkTheme" [class.visible]="showOutline" class="outline-panel">
    <div class="outline-header">
        <h3>
            <mat-icon>account_tree</mat-icon>
            <span>JSON Outline</span>
        </h3>
        <div class="spacer"></div>
        <button (click)="showOutline = false" mat-icon-button matTooltip="Close Outline">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="outline-content">
        <div *ngIf="!isValidJson" class="outline-error">
            <mat-icon color="warn">error</mat-icon>
            <span>Invalid JSON. Fix errors to see outline.</span>
        </div>

        <div *ngIf="isValidJson && outlineData.length === 0" class="outline-empty">
            <mat-icon>info</mat-icon>
            <span>No outline available.</span>
        </div>

        <div *ngIf="isValidJson && outlineData.length > 0" class="outline-tree">
            <ng-container *ngFor="let node of outlineData">
                <ng-container *ngTemplateOutlet="outlineNode; context: { $implicit: node }"></ng-container>
            </ng-container>
        </div>
    </div>
</div>

<!-- Outline Node Template -->
<ng-template #outlineNode let-node>
    <div (click)="navigateToNode(node)" [class.has-children]="node.children && node.children.length > 0"
         class="outline-node">
        <div (click)="$event.stopPropagation(); toggleNode(node)" class="node-header">
            <mat-icon *ngIf="node.children && node.children.length > 0" [class.expanded]="node.expanded"
                      class="expand-icon">
                chevron_right
            </mat-icon>
            <mat-icon *ngIf="!node.children || node.children.length === 0" class="type-icon">
                {{ getNodeIcon(node) }}
            </mat-icon>
            <span [ngClass]="'type-' + node.type" class="node-key">{{ node.key }}</span>
            <span *ngIf="node.type === 'array'" class="node-info">[{{ node.children?.length || 0 }}]</span>
            <span *ngIf="node.type === 'object'"
                  class="node-info">{{ '{' }}{{ node.children?.length || 0 }}{{ '}' }}</span>
        </div>

        <div *ngIf="node.children && node.children.length > 0" [class.expanded]="node.expanded" class="node-children">
            <ng-container *ngFor="let childNode of node.children">
                <ng-container *ngTemplateOutlet="outlineNode; context: { $implicit: childNode }"></ng-container>
            </ng-container>
        </div>
    </div>
</ng-template>